.config.code-workspace
Bitwarden/
Code/
Electron/
Mousepad/
Notion/
QtProject.conf
Thunar/
YandexMusic/
btop/
cef_user_data/
dconf/
evolution/
falkon/
figma-linux/
flameshot/
gcolor3/
google-chrome/
htop/
mimeapps.list
neofetch/
nitrogen/
notion-app/
obs-studio/
pavucontrol.ini
pulse/
qt5ct/
systemd/
unity3d/
user-dirs.dirs
user-dirs.locale
volumeicon/
vscode-sqltools/
wireplumber/
yandex-music.conf
fontconfig
font-manager
vlc
xfce4
